{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h2 class="bottom-margin">Buy shares:</h2>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares to buy" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy shares</button>
    </form>
{% endblock %}
