{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h2>Index of all owned shares:</h2>
    <h4>Note that since you own no shares, none will appear in the following table.</h4>
    <table class="table">
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </thead>
        <tr>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="bold">Cash</td>
            <td>{{ cash | usd }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="bold">TOTAL</td>
            <td>{{totalBal | usd}}</td>
        </tr>
    </table>
{% endblock %}
