{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h2>History of all transactions:</h2>
    <table>
        <thead>
            <th>Stock Symbol</th>
            <th>Price</th>
            <th>Number of Shares</th>
            <th>Type of Transaction</th>
        </thead>
        {% for history in histories %}
            <tr>
                <td>history["stock_symbol"]</td>
                <td>f'${history["stock_price"]}'</td>
                <td>history["stock_count"]</td>
                <td>f'${price["stock_symbol"] * stock["stock_count"]}'</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><span class="bold">Cash</span> ${{cash}}</td>
            <td><span class="bold">TOTAL</span> ${{totalBal}}</td>
        </tr>
    </table>
{% endblock %}
