{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h2>Index of all owned shares:</h2>
    <table>
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </thead>
        {% for stock in stocks %}
            <tr>
                <td>stock["stock_symbol"]</td>
                <td>stock["stock_count"]</td>
                <td>f'${price["stock_symbol"] | usd}'</td>
                <td>f'${(price["stock_symbol"] * stock["stock_count"] | usd}'</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td><span class="bold">Cash</span> ${{cash}}</td>
            <td><span class="bold">TOTAL</span> ${{totalBal}}</td>
        </tr>
    </table>
{% endblock %}
