{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h2>Index of all owned shares:</h2>
    <table class="table">
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </thead>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock["stock_symbol"] }}</td>
                <td>{{ stock["stock_count"] }}</td>
                <td>{{ price[stock["stock_symbol"]] | usd }}</td>
                <td>{{ (price[stock["stock_symbol"]] * stock["stock_count"]) | usd }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td class="bold">Cash</td>
            <td>{{ cash | usd }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td class="bold">TOTAL</td>
            <td>{{totalBal | usd}}</td>
        </tr>
    </table>
{% endblock %}
