/* Note that the below style for the nav bar
was taken from Finance's css file. */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Note that the below colors for
the nav bar were taken from ChatGPT's
color suggestions. */
nav .navbar-brand .deep-blue
{
    color: #0a3d62;
}

nav .navbar-brand .bright-blue
{
    color: #0a3d62;
}

nav .navbar-brand .charcoal-black
{
    color: #2c3e50;
}

nav .navbar-brand .slate-gray
{
    color: #34495e;
}

nav .navbar-brand .midnight-blue
{
    color: #2c3e50;
}

nav .navbar-brand .steel-blue
{
    color: #4a69bd;
}

/* Note that the two classes "bold"
and "bottom-margin" were taken from
my additions to the css file in
Finance.*/
.bold
{
    font-weight: 600;
}

.bottom-margin
{
    margin-bottom: 14px;
}

/* Coloring the
