nav
{
    background-color:#f0f0f0;
    color: #1c2833;
    border: none;
}

/* Note that the below style for the nav bar
was taken from Finance's css file. */
nav .navbar-brand
{
    font-size: 2.2rem;
}

nav .navbar-brand .deep-blue
{
    color: #0a3d62;
}

nav .navbar-brand .bright-blue
{
    color: #0a3d62;
}

nav .navbar-brand .charcoal-black
{
    color: #2c3e50;
}

nav .navbar-brand .slate-gray
{
    color: #34495e;
}

nav .navbar-brand .midnight-blue
{
    color: #2c3e50;
}

nav .navbar-brand .steel-blue
{
    color: #4a69bd;
}

/* Note that the two classes "bold"
and "bottom-margin" were taken from
my additions to the css file in
Finance.*/
.bold
{
    font-weight: 600;
}

.boldish
{
    font-weight: 500;
}

.bottom-margin
{
    margin-bottom: 14px;
}

.padding
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Giving the webpage a dark mode coloring. */
body
{
    background-color: #1c2833;
    color: #e0e0e0;
}
