{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="from-left-1st">
        <div class="m-2 from-top-1st">
            <h2>Skeletons in Army: <span id="skeleton-count">{{ skeletonCount }}</span></h2>
            <button class="btn btn-primary rounded-0 shadow-lg" onclick="digUpSkeletons()">Dig Up More</button>
        </div>
        <hr class="w-100 mx-auto">
    </div>

    <!-- Linking external scripts -->
    <!-- Note that I got the url_for() function from ChatGPT's suggestions -->
    <script src="{{ url_for('static', filename='js/digUpSkeletons.js') }}"></script>
{% endblock %}
