{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="from-left-1st">
        <!-- Generating the first block of functions (the main display) -->
        <div class="m-2 from-top-1st">
            <h2>Skeletons in Army: <span id="skeleton-count">{{ skeletonCount }}</span></h2>
            <h3>Total Resurrected: <span id="total-skeletons">{{ totalSkeletons }}</span></h3>
            <button class="btn btn-primary rounded-0 shadow-lg" onclick="digUpSkeletons()">Dig Up More</button>
            {% if totalSkeletons > 9 %}
                <p>Skeletons per click: {{ skeletonsPerClick }}</p>
                <p>Skeletons per second: {{ skeletonsPerSecond }}</p>
            {% endif %}
        </div>
        <hr class="w-100 mx-auto">

        <!-- Generating the second block of functions (the simple upgrades) -->
        {% if totalSkeletons > 9 %}
            <div class="m-2 from-top-2nd">
                <h3>Simple Upgrades</h3>
                <button class="btn btn-primary rounded-0 shadow-lg" onclick="buyAutodigger()">Buy Autodigger (cost: {{ autodiggerCost }} skeletons)</button>
                <p>Number of autodiggers: {{ numAutodiggers }} ({{ numAutodiggers }} skeletons per second)</p>
                <button class="btn btn-primary rounded-0 shadow-lg {% if curShovel == maxShovel %}btn-dark{% endif %}"
                onclick="buyShovel()"
                {% if curShovel == maxShovel %}disabled{% endif %}> <!--TODOL see if the red equal sign is actually a problem-->
                    {% if curShovel != maxShovel %}
                        Forge a {{ shovels[curShovel + 1] }} shovel (cost: {{ shovelCost }} skeletons)
                    {% else %}
                        Your shovel is max level!
                    {% endif %}
                </button>
                <p>Current shovel: {{ shovels[curShovel] }} ({{ 10**(curShovel) }} skeletons per dig)</p>
            </div>
            <hr class="w-100 mx-auto">
        {% endif %}

        <!-- Generating the third block of functions (the first rituals) -->
         {% if totalSkeletons > 499 %}
            <div class="m-2 from-top-2nd">
                <h3>The First Rituals</h3>
            </div>
            <hr class="w-100 mx-auto">
         {% endif %}
    </div>

    <!-- Linking external scripts -->
    <!-- Note that I got the url_for() function from ChatGPT's suggestions -->
    <script src="{{ url_for('static', filename='js/digUpSkeletons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buyAutodigger.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buyShovel.js') }}"></script>

{% endblock %}
