.main-background-color
{
    background-color: rgb(135, 176, 204);
}

.center
{
    text-align: center;
}

.anchor-list-background
{
    background-color: rgb(135, 145, 204);
}

.anchor-list-unselected
{
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.anchor-list-unselected:hover
{
    background-color: rgb(143, 135, 204)
    text-decoration: underline;
}

.anchor-list-selected
{
    color: rgb(0, 0, 0);
    background-color: rgb(143, 135, 204);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.anchor-list-selected:hover
{
    text-decoration: underline;
}
