.main-background-color
{
    background-color: rgb(231, 251, 230);
}

.font
{
    
}

.center
{
    text-align: center;
}

.anchor-list-background
{
    background-color: rgb(203, 226, 181);
    padding: 25px;
    font-size: 20px;
    font-weight: 600;
}

.anchor-list-unselected
{
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.anchor-list-unselected:hover
{
    background-color: rgb(134, 171, 137)
    text-decoration: underline;
}

.anchor-list-selected
{
    color: rgb(0, 0, 0);
    background-color: rgb(134, 171, 137);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.anchor-list-selected:hover
{
    text-decoration: underline;
}
